{#
/**
 * @file
 * Login page: title, vertically centered form, footer at bottom of viewport.
 *
 * @see bootstrap_barrio/templates/layout/page.html.twig
 */
#}
{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{% block content %}
  <div id="main" class="{{ container }}">
    {{ page.breadcrumb }}
    <div class="row row-offcanvas row-offcanvas-left clearfix cwis-login-row">
      <main{{ content_attributes.addClass('cwis-login-main-column') }}>
        <section class="section cwis-login-section">
          <a href="#main-content" id="main-content" tabindex="-1"></a>
          <h1 class="cwis-login-page-title">{{ 'Log In'|t }}</h1>
          <div class="cwis-login-form-shell">
            {{ page.content }}
          </div>
        </section>
      </main>
      {% if sidebar_first_exists %}
        <div{{ sidebar_first_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}
      {% if sidebar_second_exists %}
        <div{{ sidebar_second_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
